body{
    background-color: rgb(255, 114, 20);
}
h1{
    font-size: 50px;
    font-family:'Righteous', cursive;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
div#contacto.container-fluid.py-3{
    bottom: 0;
    position: absolute;
}
div.letra{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

div#login{
    position: relative;
    margin:;
    background-color: white;
    height:500px;
    width: 90%;
    margin-top: 10px;
}
div.formulario{
    text-align: center;
}

div.formulario form input{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    border-bottom: 1.2px solid rgb(226, 0, 0);
   

}
.btn input{
    
    color: white;
    background-color:rgb(223, 0, 0);
    border: none;
    width: 150px;
    height: 45px;
    margin: 0;
    font-family:'Righteous', cursive;
    
}
ul li{
    
    list-style: none;
    display: flex;
    justify-items: flex-start;
}
ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(31, 140, 184);
}








